/* boxsizing to prevent padding issues */
* {
  box-sizing: border-box;
}
/* body background and font */
body {
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto", sans-serif;
  color: white;
}
/* element stylings */
h2 {
  text-align: left;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 0;
}
h4 {
  text-align: center;
  width: auto;
}

button,
input[type="text"] {
  color: white;
  /* text-shadow: black;	 */
  display: inline-block;
  padding: 5px;
  width: 680px;
  background-color: #4aaaa4;
  border-radius: 25px;
}
p {
  margin-left: 20px;
}
/* answer elements passed to the DOM from JS stylings */
#a1, #a2, #a3, #a4 {
  margin-left: 10px;
  font-size : 20px;
  font-weight: 400;
}
label {
  margin-left: 20px;
 
}
 /* banner of quiz background */
header .top {
   background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-image: repeat;
}
/* special heading text properties */
#h1 {
  padding: 10px;
  font-size : 30px;
  color: #fff;
  text-align: center;
  width: auto;
}

button:hover {
  cursor: pointer;
}
.col-6 {
  float: left;
 
}
/* quiz form properties */
form {
  background-color: #4aaaa4;
  width: 680px;
  border-radius: 25px;
  border-color: white;
  border-width: 12px;
  font-size: 16px;
  font-weight: 200;
  align-content: center;
  
}
/* splash screen properties */
#splashscreen {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  display: none;
}
/* contents of the splash screen manipulated properties */
.content {
  color: #fff;
  background-color: #4aaaa4;
  font-family: "Roboto", sans-serif;
  position: relative;
  height: auto;
  width: 600px;
  border-radius: 4px;
  top: 15%;
  margin: 80px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}

.content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 500;
  font-size: 1.5em;
}

.content > div p {
  margin: 0;
  padding: 10px 0;
  line-height: 2em;
  text-align: left;
}

.content > div ul {
  margin-bottom: -30px;
  padding: 0 0 30px 20px;
  text-align: left;
}

.content > div ul li {
  padding: 5px 0;
  display: block;
  list-style-type: disc;
  line-height: 1.5em;
}

.content > div ul li strong {
  text-decoration: underline;
}

.content > div a {
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 0.5em 2em;
  margin-bottom: 50px;
  border-radius: 3px;
}
/* header properties */
#top {
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
/* timer style properties */
#minutes {
  font-size: 2em;
  float: left;
  margin-left: 50%;
}

#seconds {
  font-size: 1em;
  float: left;
}

